{% extends 'base.html ' %}

{% block header %}

<h2>{% block title %}Iniciar Sesión{% endblock %}</h2>

{% endblock %}

{% block content %}
<div class="form-reg-log">
  <form method="post">
    <div class="form-group">
      <input type="email" name="username" class="form-control" id="username" aria-describedby="emailHelp"
        placeholder="Correo Electronico" required><br>
    </div><br>

    <div class="form-group">
      <input type="password" class="form-control password" id="password" name="password" placeholder="Contraseña"
        required>
      <span class="fa fa-fw fa-eye password-icon show-password"></span><br>
    </div>

    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  </form>

</div>
{% endblock %}