{% extends 'base.html ' %}

{% block header %}

<h2>{% block title %}Registrar usuario{% endblock %}</h2>

{% endblock %}

{% block content %}
<div class="form-reg-log">
  <form method="post">
    <div class="form-group">
      <input type="email" name="username" class="form-control" id="username" aria-describedby="emailHelp"
        placeholder="Correo Electronico" required><br>
      <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo electrónico con nadie
        más.</small>
    </div><br>

    <div class="form-group">
      <input type="password" class="form-control password" name="password" id="password" placeholder="Contraseña"
        required>
      <span class="fa fa-fw fa-eye password-icon show-password"></span><br>
    </div>


    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>

</div>
{% endblock %}

<!-- En (form method='post') si ponemos el metodo GET lo que va hacer
     es mostrar en la URL los datos ingresados porejm: (usuario y contrasena). En cambio
    con el metodo 'post' eso no va a pasar -->